{% extends "manage/layout/manage.twig" %}
{% block content %}
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-success" href="{{ Url.media('manage/calendar/edit?m='~month~'&d='~day) }}"><i class="icon-plus"></i> {{ "Add"|i18n }}</a>
        </div>
        <form action="" method="POST" style="margin: 0">
            <input type="text" name="search" id="search" class="input-xxlarge" value="" style="margin: 0" placeholder="{{ "Search"|i18n }}"/>
        </form>
        <div class="clear"></div>
    </div>
    <div class="page">
        {% for item in list %}
            <div class="well well-small">
                <div class="text">
                    <div class="date">
                        <span class="btn-group pull-right">
                            <a class="btn btn-mini" href="{{ Url.media('manage/calendar/view/'~item.id) }}"><i class="icon-eye-open"> </i> Просмотр</a>
                            <a class="btn btn-mini" href="{{ Url.media('manage/calendar/edit/'~item.id) }}"><i class="icon-edit"> </i> Редактировать</a>
                            {% if item.is_important %}
                                <a class="btn btn-mini btn-warning" href="{{ Url.media('manage/calendar/important/'~item.id) }}"><i class="icon-eye-close"> </i> Убрать с главной</a>
                            {% else %}
                                <a class="btn btn-mini btn-success" href="{{ Url.media('manage/calendar/important/'~item.id) }}"><i class="icon-eye-open"> </i> На главную</a>
                            {% endif %}
                            {% if item.published %}
                                <a class="btn btn-mini btn-warning" href="{{ Url.media('manage/calendar/published/'~item.id) }}"><i class="icon-eye-close"> </i> Скрыть</a>
                            {% else %}
                                <a class="btn btn-mini btn-success" href="{{ Url.media('manage/calendar/published/'~item.id) }}"><i class="icon-eye-open"> </i> Опубликовать</a>
                            {% endif %}
                            <a class="btn btn-mini btn-danger" href="{{ Url.media('manage/calendar/delete/'~item.id) }}"><i class="icon-remove"> </i></a>
                        </span>
                        <div class="pull-left">({{ Date.ru_date('2013-'~item.month~'-'~item.day, 'd F') }})
                        <a class="link" href="{{ Url.media('manage/calendar/view/'~item.id) }}">{{ item.title }}</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        {{ item.desc }}<br>
                    </div>
                </div>
            </div>
        {% endfor %}

        {{ paginate|raw }}

    </div>
{% endblock content %}