{% extends "layout/html.twig" %}
{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{{ Url.media('media/css/biography.css') }}" />
{% endblock %}
{% block content %}
    <div class="wrap">
        <div class="div100">{% include 'layout/bread-crumbs.twig' %}</div>
        

        <div id="bio-left">
            <div class="bio-list">
                {% for item in thanks %}
                    <div class="bio-list-block">
                        {% if item.picture.file_path is defined %}
                            <div class="bio-photo">
                                <img src="{{ Url.media('/images/w140-h187-cct-si/'~item.picture.file_path, TRUE) }}" alt=""/>
                            </div>
                        {% endif %}
                        
                        <div class="bio-short-info{% if not item.picture.file_path is defined %} is-big-info{% endif %}">
                            <div class="div100"><h3>{{ item.name }}</h3></div>
                            <div class="bio-brief">{{ item.text|raw }}</div>
                        </div>
                    </div>
                    
                    {% if not loop.last %}<div class="bio-line"></div>{% else %}<div class="bio-clear"></div>{% endif %}
                {% endfor %}
            </div>
            
            {{ paginate|raw }}
        </div>

    </div>
{% endblock content %}
