{% extends "manage/layout/manage.twig" %}
{% block content %}
    <div class="page-header">
        <strong>{{ "Categories list"|i18n }}</strong>
        <div class="pull-right">
            <a class="btn" href="{{ Url.media('manage/photosets/editcategory') }}"><i class="icon-plus"> {{ "Add"|i18n }}</i></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="page">
        {% for item in list %}
            <div class="well well-small">
                <div class="text">
                    <div class="date">
                        {{ item.name }}
                        <span class="btn-group pull-right">
                            <a class="btn btn-mini" href="{{ Url.media('manage/photosets/editcategory/'~item.id) }}"><i class="icon-edit"> </i> {{ "Edit"|i18n }}</a>
                            <a class="btn btn-mini btn-danger" href="{{ Url.media('manage/photosets/deletecategory/'~item.id) }}"><i class="icon-remove"> </i> {{ "Delete"|i18n }}</a>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}