{% extends "manage/layout/manage.twig" %}
{% block content %}
    <div style="padding: 20px;">
    <form action="" method="POST">
        <div>
            <a type="button" href="{{ Url.media('manage/photosets/category') }}" class="close">&times;</a>
            <h4>{{ "Category edit / add"|i18n }}</h4>
        </div>
        <div>
            <label for="name">{{ "Name"|i18n }}</label>
            <input type="text" name="name" id="name" class="input-xxlarge" value="{{ item.name }}" style="width: 98%;"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success">{{ "Save"|i18n }}</button>
            <a href="{{ Url.media('manage/photosets/category') }}" class="btn">{{ "Cancel"|i18n }}</a>
        </div>
    </form>
</div>

{% endblock content %}