{% extends "layout/html.twig" %}
{% block content %}
    <div class="wrap">
        {% include 'layout/bread-crumbs.twig' %}
        <div class="page-h1-title" style="margin-bottom: 10px;"><h1>{{"Expert opinion "|i18n}}</h1>
        {#<a class="" href="{{ Url.site('expert/questions/') }}">{{ "Question-answer"|i18n }}</a>#}
        </div>

        <div class="item-list">
            {% for item in list %}
                <div class="item">
                    <h4><a class="name" href="{{ Url.site('expert/view/'~item.id) }}">{{ item.expert.name }}: {{ item.title|striptags }}</a></h4>
                    <div class="clear"></div>
                    {{ item.description|striptags }}
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
        {{ paginate|raw }}
    </div>
{% endblock content %}
