{% extends "manage/layout/manage.twig" %}
{% block content %}
    <div style="padding: 20px;">
        <div class="pull-right btn-group">
            <a class="btn btn-mini" href="{{ Url.media('manage/point/edit/'~point.id) }}"><i class="icon-edit"></i> {{ "Edit"|i18n }}</a>
            <a class="btn btn-mini btn-danger" href="{{ Url.media('manage/point/delete/'~point.id) }}"><i class="icon-remove icon-white"></i> {{ "Delete"|i18n }}</a>
        </div>
        <div>
            <h4>{{ point.name }}</h4>
            <div class="clear"></div>
        </div>
        <div>
            {% if point.picture.file_path is defined %}
                <img src="{{ Url.site(point.picture.file_path, TRUE) }}" alt="{{ "Preview"|i18n }}" />
            {% endif %}
        </div>
        <div>
            <strong>{{ point.desc }}</strong>
        </div><br>
        <div>
            {{ point.text|raw }}
        </div>
        <div class="clear"></div>
    </div>
{% endblock content %}