{% extends "layout/html.twig" %}
{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{{ Url.media('media/css/library.css') }}" />
{% endblock %}
{% block extrascripts %}
    <script type="text/javascript" src="{{ Url.media('media/js/read.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="scontent"></div>
    <div class="wrap text-page">
        <div class="div100">{% include 'layout/bread-crumbs.twig' %}</div>

        {% if book.type == 'pdf' %}
            <div class="div100"><h1>{{ book.title }}</h1></div>
            {% if book.date == '0000-00-00 00:00:00' %}
                <div class="infograph-date">00.00.0000</div>
            {% else %}
                <div class="infograph-date">{{ Date.ru_date(book.date, 'd.m.Y') }}</div>
            {% endif %}
            <div id="book-page">
                <div>
                    <iframe src="http://e-history.kz{{ Url.media(book.pdf.file_path) }}" width="850px" height="700px" ></iframe>
                </div>

                <div id="book-navigation">
                    <a id="back-to-announce-lnk" href="{{ Url.site('books/'~scope.key~'/view/'~book.id~'#scontent') }}">{{ "Back to description"|i18n }}</a>
                    <a id="read-more-lnk" href="#" style="display: none;">Читать дальше</a>
                </div>
            </div>
            <div id="book-page-line"></div>
        {% endif %}

        {% if book.type == 'txt' %}
            <div class="div100"><h1>{{ "Chapter"|i18n }} {{ chapter.number }}. {{ chapter.title }}</h1></div>
            <div id="book-page">

                <div id="book-text">
                    {{ chapter.text|raw }}
                </div>

                <div id="book-navigation">
                    <a id="back-to-announce-lnk" href="{{ Url.site('books/'~scope.key~'/view/'~book.id~'#scontent') }}">{{ "Back to description"|i18n }}</a>
                    <a id="read-more-lnk" href="#" style="display: none;">Читать дальше</a>
                    {% if next is defined %}
                        <a id="next-chapter-lnk" href="{{ Url.site('books/'~scope.key~'/read/'~book.id~'?chapter='~next.number~'#scontent') }}">{{ "Next chapter"|i18n }}</a>
                    {% endif %}
                </div>
            </div>
            <div id="book-page-line"></div>
        {% endif %}


    </div>
    {#<div class="wrap text-page">
        <div class="div100">{% include 'layout/bread-crumbs.twig' %}</div>
        <div class="div100"><h1>Глава 1. Казахстан в древности</h1></div>
        <div id="book-page">
            <div id="book-menu">
                <ul>
                    <li><a href="javascript:showParagraph(1)">Древнекаменный век (палеолит)</a></li>
                    <li><a href="javascript:showParagraph(2)">Среднекаменный век Казахстана (мезолит)</a></li>
                    <li><a href="javascript:showParagraph(3)">Поздний каменный век в Казахстане (неолит)</a></li>
                    <li><a href="javascript:showParagraph(4)">Медный каменный век в Казахстане (энеолит)</a></li>
                    <li><a href="javascript:showParagraph(5)">Эпоха бронзы и Андроновская культура</a></li>
                </ul>
            </div>
            <div id="book-text">
                <div id="paragraph-1" class="book-text">
                    <h2>Древнекаменный век (палеолит)</h2>
                    <p>Три с половиной миллиона лет назад усиливавшийся холод ледникового периода сковал огромное пространство воды в виде льда. Количество осадков резко уменьшилось, и тропические леса стали уступать место степям и саваннам. Часть обитавших в лесах обезьян-дриопитеков, не вполне приспособленных к жизни на деревьях, стала приноравливаться к существованию на открытой местности.</p>
                    <p>Хождение на двух ногах освободило руки, это позволило перейти к производству и регулярному использованию орудий труда. Размеры клыков уменьшались, вероятно, вследствие того, что орудия все более заменяли зубы, выполняя их функции. Изготовление орудий и прямохождение стимулировали развитие головного мозга. Охота на крупную дичь саванн, дающую много мяса, привела к тому, что целые группы гоминидов стали делиться запасами пищи на стоянках, где совместная деятельность способствовала взаимному общению: горизонтальному — между индивидами и вертикальному — между поколениями.</p>
                    <p>Впервые в истории эволюции преимущество получил интеллект: теперь выживаемость гоминидов зависела от мозга, а не от мускульной силы или скорости ног.</p>
                    <p>Прямохождение — основная черта, отличающая человеческую трибу (подсемейство) от обезьян. В нее входит два рода: австралопитек и человек.</p>
                    <h3>Австралопитек</h3>
                    <p>(южная обезьяна) появился в Африке четыре миллиона лет назад, одновременно возникло три-четыре вида. Около двух миллионов лет назад от одного из них появился вид рода Хомо (человек). Тело австралопитека было покрыто волосяным покровом, одни из них были хрупкого телосложения и не больше шимпанзе по размерам, другие имели мускулистое тело и по размерам приближались к современному человеку.</p>
                    <p>В отличие от человекообразных обезьян нижние конечности австралопитеков были длиннее передних и явно приспособлены для прямохождения.</p>
                    <p>Первый известный вид рода Хомо - хомо хабилис - человек умелый. Он произошел от одной из групп австралопитеков 2-1,5 млн. лет назад. Рост его был не более 1,5 м, лицо имело архаичную форму, развитый надбровный валик, плоский нос, выдающиеся вперед челюсти. В отличие от австралопитека человек умелый обладал более развитым мозгом, в котором уже выделяется речевой центр.</p>
                    <p>Человек умелый занимался изготовлением несложных орудий, строил укрытия, охотился на крупную и мелкую дичь.</p>
                    <p>Следующей ступенью развития человека был хомо эректус — человек прямоходящий, живший от 1,6 млн. до 200 тыс. лет назад. Появившись в Африке, отдельные группы распространились по всему Старому свету - в Европу, Восточную Азию (синантроп), Юго-Восточную Азию (явантроп).</p>
                    <h3>Ранний человек на территории Казахстана</h3>
                    <p>Первыми орудиями древнекаменного века были универсальные ударно-рубящие ручные рубила, изготовленные из цельных камней. Они были грубой формы и почти не имели следов обработки. Эти древнейшие орудия относятся к шелльской культуре и изготовлялись, видимо, еще австралопитеками.</p>
                    <p>В более позднее время встречаются рубила более тщательной отделки. Кроме того, появляется дифференциация орудий. Человек стал делать скребки, каменные ножи, остроконечники. Существовало два способа изготовления орудий: при первом от заготовки отбивались отщепы, которые путем следующей обработки превращались в необходимые орудия. Эта культура получила название "ашельской". Кроме каменных орудий прямоходящий человек изготовлял орудия из кости и дерева. Благодаря использованию огня он мог делать деревянные копья и колья с обожженным концом.</p>
                    <p>Ученым долгое время не удавалось обнаружить на территории Казахстана следов каменного века, что привело к ошибочному мнению о позднем заселении территории нашей страны человеком. Однако последние данные археологии установили появление человека у нас еще в ашельский период. Памятники этой эпохи, оставленные человеком прямоходящим, обнаружены в Южном Казахстане, в районе хребта Каратау. Это стоянки Танирказган, Борыказган, Акколь. В данный момент в Казахстане известны две зоны палеолитических культур: в Южном Казахстане и Сарыарке. Эти зоны различаются техникой обработки камня и материалом, применяемым для изготовления орудий. В целом в Северном и Центральном Казахстане эволюция технологии шла быстрее, чем на юге, где очень долго применялись архаичные орудия типа ручных рубил.</p>
                </div>
                
                <div id="paragraph-2" class="book-text">
                    <h2>Среднекаменный век Казахстана (мезолит)</h2>
                    <p>Три с половиной миллиона лет назад усиливавшийся холод ледникового периода сковал огромное пространство воды в виде льда. Количество осадков резко уменьшилось, и тропические леса стали уступать место степям и саваннам. Часть обитавших в лесах обезьян-дриопитеков, не вполне приспособленных к жизни на деревьях, стала приноравливаться к существованию на открытой местности.</p>
                    <p>Хождение на двух ногах освободило руки, это позволило перейти к производству и регулярному использованию орудий труда. Размеры клыков уменьшались, вероятно, вследствие того, что орудия все более заменяли зубы, выполняя их функции. Изготовление орудий и прямохождение стимулировали развитие головного мозга. Охота на крупную дичь саванн, дающую много мяса, привела к тому, что целые группы гоминидов стали делиться запасами пищи на стоянках, где совместная деятельность способствовала взаимному общению: горизонтальному — между индивидами и вертикальному — между поколениями.</p>
                    <p>Впервые в истории эволюции преимущество получил интеллект: теперь выживаемость гоминидов зависела от мозга, а не от мускульной силы или скорости ног.</p>
                    <p>Прямохождение — основная черта, отличающая человеческую трибу (подсемейство) от обезьян. В нее входит два рода: австралопитек и человек.</p>
                    <h3>Австралопитек</h3>
                    <p>(южная обезьяна) появился в Африке четыре миллиона лет назад, одновременно возникло три-четыре вида. Около двух миллионов лет назад от одного из них появился вид рода Хомо (человек). Тело австралопитека было покрыто волосяным покровом, одни из них были хрупкого телосложения и не больше шимпанзе по размерам, другие имели мускулистое тело и по размерам приближались к современному человеку.</p>
                    <p>В отличие от человекообразных обезьян нижние конечности австралопитеков были длиннее передних и явно приспособлены для прямохождения.</p>
                    <p>Первый известный вид рода Хомо - хомо хабилис - человек умелый. Он произошел от одной из групп австралопитеков 2-1,5 млн. лет назад. Рост его был не более 1,5 м, лицо имело архаичную форму, развитый надбровный валик, плоский нос, выдающиеся вперед челюсти. В отличие от австралопитека человек умелый обладал более развитым мозгом, в котором уже выделяется речевой центр.</p>
                    <p>Человек умелый занимался изготовлением несложных орудий, строил укрытия, охотился на крупную и мелкую дичь.</p>
                    <p>Следующей ступенью развития человека был хомо эректус —человек прямоходящий, живший от 1,6 млн. до 200 тыс. лет назад. Появившись в Африке, отдельные группы распространились по всему Старому свету - в Европу, Восточную Азию (синантроп), Юго-Восточную Азию (явантроп).</p>
                    <h3>Ранний человек на территории Казахстана</h3>
                    <p>Первыми орудиями древнекаменного века были универсальные ударно-рубящие ручные рубила, изготовленные из цельных камней. Они были грубой формы и почти не имели следов обработки. Эти древнейшие орудия относятся к шелльской культуре и изготовлялись, видимо, еще австралопитеками.</p>
                    <p>В более позднее время встречаются рубила более тщательной отделки. Кроме того, появляется дифференциация орудий. Человек стал делать скребки, каменные ножи, остроконечники. Существовало два способа изготовления орудий: при первом от заготовки отбивались отщепы, которые путем следующей обработки превращались в необходимые орудия. Эта культура получила название "ашельской". Кроме каменных орудий прямоходящий человек изготовлял орудия из кости и дерева. Благодаря использованию огня он мог делать деревянные копья и колья с обожженным концом.</p>
                    <p>Ученым долгое время не удавалось обнаружить на территории Казахстана следов каменного века, что привело к ошибочному мнению о позднем заселении территории нашей страны человеком. Однако последние данные археологии установили появление человека у нас еще в ашельский период. Памятники этой эпохи, оставленные человеком прямоходящим, обнаружены в Южном Казахстане, в районе хребта Каратау. Это стоянки Танирказган, Борыказган, Акколь. В данный момент в Казахстане известны две зоны палеолитических культур: в Южном Казахстане и Сарыарке. Эти зоны различаются техникой обработки камня и материалом, применяемым для изготовления орудий. В целом в Северном и Центральном Казахстане эволюция технологии шла быстрее, чем на юге, где очень долго применялись архаичные орудия типа ручных рубил.</p>
                </div>
                
                <div id="paragraph-3" class="book-text">
                    <h2>Поздний каменный век в Казахстане (неолит)</h2>
                    <p>Три с половиной миллиона лет назад усиливавшийся холод ледникового периода сковал огромное пространство воды в виде льда. Количество осадков резко уменьшилось, и тропические леса стали уступать место степям и саваннам. Часть обитавших в лесах обезьян-дриопитеков, не вполне приспособленных к жизни на деревьях, стала приноравливаться к существованию на открытой местности.</p>
                    <p>Хождение на двух ногах освободило руки, это позволило перейти к производству и регулярному использованию орудий труда. Размеры клыков уменьшались, вероятно, вследствие того, что орудия все более заменяли зубы, выполняя их функции. Изготовление орудий и прямохождение стимулировали развитие головного мозга. Охота на крупную дичь саванн, дающую много мяса, привела к тому, что целые группы гоминидов стали делиться запасами пищи на стоянках, где совместная деятельность способствовала взаимному общению: горизонтальному — между индивидами и вертикальному — между поколениями.</p>
                    <p>Впервые в истории эволюции преимущество получил интеллект: теперь выживаемость гоминидов зависела от мозга, а не от мускульной силы или скорости ног.</p>
                    <p>Прямохождение — основная черта, отличающая человеческую трибу (подсемейство) от обезьян. В нее входит два рода: австралопитек и человек.</p>
                    <h3>Австралопитек</h3>
                    <p>(южная обезьяна) появился в Африке четыре миллиона лет назад, одновременно возникло три-четыре вида. Около двух миллионов лет назад от одного из них появился вид рода Хомо (человек). Тело австралопитека было покрыто волосяным покровом, одни из них были хрупкого телосложения и не больше шимпанзе по размерам, другие имели мускулистое тело и по размерам приближались к современному человеку.</p>
                    <p>В отличие от человекообразных обезьян нижние конечности австралопитеков были длиннее передних и явно приспособлены для прямохождения.</p>
                    <p>Первый известный вид рода Хомо - хомо хабилис - человек умелый. Он произошел от одной из групп австралопитеков 2-1,5 млн. лет назад. Рост его был не более 1,5 м, лицо имело архаичную форму, развитый надбровный валик, плоский нос, выдающиеся вперед челюсти. В отличие от австралопитека человек умелый обладал более развитым мозгом, в котором уже выделяется речевой центр.</p>
                    <p>Человек умелый занимался изготовлением несложных орудий, строил укрытия, охотился на крупную и мелкую дичь.</p>
                    <p>Следующей ступенью развития человека был хомо эректус —человек прямоходящий, живший от 1,6 млн. до 200 тыс. лет назад. Появившись в Африке, отдельные группы распространились по всему Старому свету - в Европу, Восточную Азию (синантроп), Юго-Восточную Азию (явантроп).</p>
                    <h3>Ранний человек на территории Казахстана</h3>
                    <p>Первыми орудиями древнекаменного века были универсальные ударно-рубящие ручные рубила, изготовленные из цельных камней. Они были грубой формы и почти не имели следов обработки. Эти древнейшие орудия относятся к шелльской культуре и изготовлялись, видимо, еще австралопитеками.</p>
                    <p>В более позднее время встречаются рубила более тщательной отделки. Кроме того, появляется дифференциация орудий. Человек стал делать скребки, каменные ножи, остроконечники. Существовало два способа изготовления орудий: при первом от заготовки отбивались отщепы, которые путем следующей обработки превращались в необходимые орудия. Эта культура получила название "ашельской". Кроме каменных орудий прямоходящий человек изготовлял орудия из кости и дерева. Благодаря использованию огня он мог делать деревянные копья и колья с обожженным концом.</p>
                    <p>Ученым долгое время не удавалось обнаружить на территории Казахстана следов каменного века, что привело к ошибочному мнению о позднем заселении территории нашей страны человеком. Однако последние данные археологии установили появление человека у нас еще в ашельский период. Памятники этой эпохи, оставленные человеком прямоходящим, обнаружены в Южном Казахстане, в районе хребта Каратау. Это стоянки Танирказган, Борыказган, Акколь. В данный момент в Казахстане известны две зоны палеолитических культур: в Южном Казахстане и Сарыарке. Эти зоны различаются техникой обработки камня и материалом, применяемым для изготовления орудий. В целом в Северном и Центральном Казахстане эволюция технологии шла быстрее, чем на юге, где очень долго применялись архаичные орудия типа ручных рубил.</p>
                </div>
                
                <div id="paragraph-4" class="book-text">
                    <h2>Медный каменный век в Казахстане (энеолит)</h2>
                    <p>Три с половиной миллиона лет назад усиливавшийся холод ледникового периода сковал огромное пространство воды в виде льда. Количество осадков резко уменьшилось, и тропические леса стали уступать место степям и саваннам. Часть обитавших в лесах обезьян-дриопитеков, не вполне приспособленных к жизни на деревьях, стала приноравливаться к существованию на открытой местности.</p>
                    <p>Хождение на двух ногах освободило руки, это позволило перейти к производству и регулярному использованию орудий труда. Размеры клыков уменьшались, вероятно, вследствие того, что орудия все более заменяли зубы, выполняя их функции. Изготовление орудий и прямохождение стимулировали развитие головного мозга. Охота на крупную дичь саванн, дающую много мяса, привела к тому, что целые группы гоминидов стали делиться запасами пищи на стоянках, где совместная деятельность способствовала взаимному общению: горизонтальному — между индивидами и вертикальному — между поколениями.</p>
                    <p>Впервые в истории эволюции преимущество получил интеллект: теперь выживаемость гоминидов зависела от мозга, а не от мускульной силы или скорости ног.</p>
                    <p>Прямохождение — основная черта, отличающая человеческую трибу (подсемейство) от обезьян. В нее входит два рода: австралопитек и человек.</p>
                    <h3>Австралопитек</h3>
                    <p>(южная обезьяна) появился в Африке четыре миллиона лет назад, одновременно возникло три-четыре вида. Около двух миллионов лет назад от одного из них появился вид рода Хомо (человек). Тело австралопитека было покрыто волосяным покровом, одни из них были хрупкого телосложения и не больше шимпанзе по размерам, другие имели мускулистое тело и по размерам приближались к современному человеку.</p>
                    <p>В отличие от человекообразных обезьян нижние конечности австралопитеков были длиннее передних и явно приспособлены для прямохождения.</p>
                    <p>Первый известный вид рода Хомо - хомо хабилис - человек умелый. Он произошел от одной из групп австралопитеков 2-1,5 млн. лет назад. Рост его был не более 1,5 м, лицо имело архаичную форму, развитый надбровный валик, плоский нос, выдающиеся вперед челюсти. В отличие от австралопитека человек умелый обладал более развитым мозгом, в котором уже выделяется речевой центр.</p>
                    <p>Человек умелый занимался изготовлением несложных орудий, строил укрытия, охотился на крупную и мелкую дичь.</p>
                    <p>Следующей ступенью развития человека был хомо эректус —человек прямоходящий, живший от 1,6 млн. до 200 тыс. лет назад. Появившись в Африке, отдельные группы распространились по всему Старому свету - в Европу, Восточную Азию (синантроп), Юго-Восточную Азию (явантроп).</p>
                    <h3>Ранний человек на территории Казахстана</h3>
                    <p>Первыми орудиями древнекаменного века были универсальные ударно-рубящие ручные рубила, изготовленные из цельных камней. Они были грубой формы и почти не имели следов обработки. Эти древнейшие орудия относятся к шелльской культуре и изготовлялись, видимо, еще австралопитеками.</p>
                    <p>В более позднее время встречаются рубила более тщательной отделки. Кроме того, появляется дифференциация орудий. Человек стал делать скребки, каменные ножи, остроконечники. Существовало два способа изготовления орудий: при первом от заготовки отбивались отщепы, которые путем следующей обработки превращались в необходимые орудия. Эта культура получила название "ашельской". Кроме каменных орудий прямоходящий человек изготовлял орудия из кости и дерева. Благодаря использованию огня он мог делать деревянные копья и колья с обожженным концом.</p>
                    <p>Ученым долгое время не удавалось обнаружить на территории Казахстана следов каменного века, что привело к ошибочному мнению о позднем заселении территории нашей страны человеком. Однако последние данные археологии установили появление человека у нас еще в ашельский период. Памятники этой эпохи, оставленные человеком прямоходящим, обнаружены в Южном Казахстане, в районе хребта Каратау. Это стоянки Танирказган, Борыказган, Акколь. В данный момент в Казахстане известны две зоны палеолитических культур: в Южном Казахстане и Сарыарке. Эти зоны различаются техникой обработки камня и материалом, применяемым для изготовления орудий. В целом в Северном и Центральном Казахстане эволюция технологии шла быстрее, чем на юге, где очень долго применялись архаичные орудия типа ручных рубил.</p>
                </div>
                
                <div id="paragraph-5" class="book-text">
                    <h2>Эпоха бронзы и Андроновская культура</h2>
                    <p>Три с половиной миллиона лет назад усиливавшийся холод ледникового периода сковал огромное пространство воды в виде льда. Количество осадков резко уменьшилось, и тропические леса стали уступать место степям и саваннам. Часть обитавших в лесах обезьян-дриопитеков, не вполне приспособленных к жизни на деревьях, стала приноравливаться к существованию на открытой местности.</p>
                    <p>Хождение на двух ногах освободило руки, это позволило перейти к производству и регулярному использованию орудий труда. Размеры клыков уменьшались, вероятно, вследствие того, что орудия все более заменяли зубы, выполняя их функции. Изготовление орудий и прямохождение стимулировали развитие головного мозга. Охота на крупную дичь саванн, дающую много мяса, привела к тому, что целые группы гоминидов стали делиться запасами пищи на стоянках, где совместная деятельность способствовала взаимному общению: горизонтальному — между индивидами и вертикальному — между поколениями.</p>
                    <p>Впервые в истории эволюции преимущество получил интеллект: теперь выживаемость гоминидов зависела от мозга, а не от мускульной силы или скорости ног.</p>
                    <p>Прямохождение — основная черта, отличающая человеческую трибу (подсемейство) от обезьян. В нее входит два рода: австралопитек и человек.</p>
                    <h3>Австралопитек</h3>
                    <p>(южная обезьяна) появился в Африке четыре миллиона лет назад, одновременно возникло три-четыре вида. Около двух миллионов лет назад от одного из них появился вид рода Хомо (человек). Тело австралопитека было покрыто волосяным покровом, одни из них были хрупкого телосложения и не больше шимпанзе по размерам, другие имели мускулистое тело и по размерам приближались к современному человеку.</p>
                    <p>В отличие от человекообразных обезьян нижние конечности австралопитеков были длиннее передних и явно приспособлены для прямохождения.</p>
                    <p>Первый известный вид рода Хомо - хомо хабилис - человек умелый. Он произошел от одной из групп австралопитеков 2-1,5 млн. лет назад. Рост его был не более 1,5 м, лицо имело архаичную форму, развитый надбровный валик, плоский нос, выдающиеся вперед челюсти. В отличие от австралопитека человек умелый обладал более развитым мозгом, в котором уже выделяется речевой центр.</p>
                    <p>Человек умелый занимался изготовлением несложных орудий, строил укрытия, охотился на крупную и мелкую дичь.</p>
                    <p>Следующей ступенью развития человека был хомо эректус —человек прямоходящий, живший от 1,6 млн. до 200 тыс. лет назад. Появившись в Африке, отдельные группы распространились по всему Старому свету - в Европу, Восточную Азию (синантроп), Юго-Восточную Азию (явантроп).</p>
                    <h3>Ранний человек на территории Казахстана</h3>
                    <p>Первыми орудиями древнекаменного века были универсальные ударно-рубящие ручные рубила, изготовленные из цельных камней. Они были грубой формы и почти не имели следов обработки. Эти древнейшие орудия относятся к шелльской культуре и изготовлялись, видимо, еще австралопитеками.</p>
                    <p>В более позднее время встречаются рубила более тщательной отделки. Кроме того, появляется дифференциация орудий. Человек стал делать скребки, каменные ножи, остроконечники. Существовало два способа изготовления орудий: при первом от заготовки отбивались отщепы, которые путем следующей обработки превращались в необходимые орудия. Эта культура получила название "ашельской". Кроме каменных орудий прямоходящий человек изготовлял орудия из кости и дерева. Благодаря использованию огня он мог делать деревянные копья и колья с обожженным концом.</p>
                    <p>Ученым долгое время не удавалось обнаружить на территории Казахстана следов каменного века, что привело к ошибочному мнению о позднем заселении территории нашей страны человеком. Однако последние данные археологии установили появление человека у нас еще в ашельский период. Памятники этой эпохи, оставленные человеком прямоходящим, обнаружены в Южном Казахстане, в районе хребта Каратау. Это стоянки Танирказган, Борыказган, Акколь. В данный момент в Казахстане известны две зоны палеолитических культур: в Южном Казахстане и Сарыарке. Эти зоны различаются техникой обработки камня и материалом, применяемым для изготовления орудий. В целом в Северном и Центральном Казахстане эволюция технологии шла быстрее, чем на юге, где очень долго применялись архаичные орудия типа ручных рубил.</p>
                </div>
            </div>
            
            <div id="book-navigation">
                <a id="back-to-announce-lnk" href="#">Вернуться к описанию</a>
                <a id="read-more-lnk" href="javascript:readMore()">Читать дальше</a>
                <a id="next-chapter-lnk" href="#">Следующая глава</a>
            </div>
        </div>
        <div id="book-page-line"></div>
    </div>#}
{% endblock content %}