{% extends "manage/layout/manage.twig" %}
{% block content %}
<div style="padding: 20px;">
    <form action="" method="POST">
        <div>
            <a type="button" href="{{ Url.media('manage/ent') }}" class="close">&times;</a>
            <h4>{{ "Ent edit"|i18n }}</h4>
        </div>
        <div>
            <label for="title">{{ "Title"|i18n }}</label>
            <input type="text" name="title" id="title" class="input-block-level" value="{{ ent.title }}" />
            <input type="hidden" id="language" name="language" value="{{ ent.language }}" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-success">{{ "Save"|i18n }}</button>
            <a href="{{ Url.media('manage/ent') }}" class="btn">{{ "Cancel"|i18n }}</a>
        </div>
    </form>
</div>
{% endblock content %}